button#plus{
    margin-right: 20px;
}

.imagepizza{
    height: 50%;
    width: 50%;
}

.btn-style {
    color: #EA4E5C;
    border: solid 2px;
    border-color: #EA4E5C;
    background: none;
}

.btn-style:hover{
    background: #E5848D;
    color: white;
}

.distance {
    margin-top: 0.3cm;
}

.input-sizeAdmin{
    border:none;
    width: 20px;

}