<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>

    <header id="header">
        <div class="row-fluid text-center" >
            <div class="col-md-4 col-md-offset-5">
                <h1> Hello Pizza !</h1>
            </div>
            <div class="col-md-1 col-md-offset-2" id="pannier">
                <div id="notification" class="notification-hide">0</div>
            </div>
        </div>
    </header>

    <div class="container-fluid">

        <div class="row-fluid" align="justify">
            <div  id="pizzas">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 alert custom-alert" id="alert"></div>
        </div>
    </div>

    <script src="../js/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="../js/style.js"></script>
    <script src="../js/react.js"></script>
    <script src="../js/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script type="text/babel" src="../js/appClient.js"  ></script>

</body>
</html>